<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title My page
		link(rel='stylesheet', href='./public/build/all.min.css')
	body
		.container
			#container-for-data
				a(href="http://www.google.com")
					img(src="public/images/smile-09.jpg", alt="smile")
	